@import url('https://fonts.googleapis.com/css?family=Cabin|Lato');

html, body {
    margin: 0;
    padding: 0;
    color: #5e5e5e;
    background: #fff;
    font-family: 'Cabin', sans-serif;    
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.padding {
    padding-top: 5em;
}


/* Navbar or Header */
header {
    height: auto;
    background: #fff;
    line-height: 1rem;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    opacity: 0.7;
}

header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#logo {
    color: #111111;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1em;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}

nav .navbar-links .nav-link a,
nav .navbar-links .nav-link a:after,
nav .navbar-links .nav-link a:before {
  transition: all .5s;
}

.navbar-links {
    padding-left: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    transition: all .5s;
}

.navbar-links .nav-link {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-links .nav-link a {        
    color: #5e5e5e;
    white-space: nowrap;
    padding: 1.4em 1.2em;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
}

nav.container .navbar-links .nav-link a {
    position:relative;
    z-index: 1;
}

nav.container .navbar-links .nav-link a:hover {
    color: whitesmoke;
}

nav.container .navbar-links .nav-link a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: rgb(102, 51, 153);
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav.container .navbar-links .nav-link a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/* Index page section #1 */
#section-one {
    background: #9f8bbe url(../images/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-one .container {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
	-ms-flex-pack: center;
	    justify-content: center;
    text-align: center;
    transform: translate(-50,-50);
}

#hero-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.gnulogo img {
    max-width: 100%;
    transition: all 0.3s;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
} 

.gnulogo:hover img {
    transform: scale(1.1);
}

#hero-content h1 {
    color: #fff;
    margin: 20px 0 10px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2em;
    font-family: 'Lato', sans-serif;
}

#hero-content p {   
    color: #fff;
    font-weight: 400;
    line-height: 1.5em;
}

.hero-heading {
    color: #404040;
    margin: 20px 0 10px;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.2em;
}

/* Index page section #2 & #3*/
#section-two .container {
    margin: 3em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#section-three .container {
    margin: 3em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.info-box {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
}

.info-box p {
    color: #808080;
    line-height: 1.5em;
}

.link {
    color: #3c3c3c;
    font-weight: bold;
    border-bottom: 1px solid #e0d6eb;
    box-shadow: inset 0 -2px 0px 0px #e0d6eb;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.link:hover {
    background: #e0d6eb;
}

/* Event page */
.event-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.event-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 500px;
            flex: 0 1 500px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 1em 0.5em;
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.5);
            box-shadow: 0 1px 5px rgba(104, 104, 104, 0.5);
}

.event-card:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
            box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
}

.event-image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 160px;
    border-radius: 2px 2px 0 0;
}

.event-desc {
    padding: 0.5em 1em;
    color: #3c4043;
}

.event-title {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1em;
}

.event-title a {
    color: #3c4043;
}

.event-title a:hover {
    color: rgb(102, 51, 153);
}

@media screen and (min-width: 40em) {
    .event-card {
        max-width: calc(50% - 1em);
    }
}

@media screen and (min-width: 60em) {
    .event-card {
        max-width: calc(25% - 1em);
    }
}


/* Blog Page */
.blog-card {
    margin: 1em 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(104, 104, 104, 0.5);
            box-shadow: 0 1px 3px rgba(104, 104, 104, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
}

.blog-card:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.blog-post-image {
    width: 40%;
    height: 200px;
}

.blog-post-data {
    padding: 0 1em;
}

.blog-post-title {
    font-family: 'Lato', sans-serif;
    margin: 20px 0 10px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1em;
}

.blog-post-title a {
    color: #5e5e5e;
}

.blog-post-title a:hover {
    color: rgb(102, 51, 153);
}

.blog-post-desc {
    font-size: 14px;
    font-weight: 300;
    color: #828282;
}


/* Team page */
.team-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    padding-bottom: 1em;
}

.member-card {
    background: #fff; 
    height: auto;
    margin: 10px;
    border-radius: 2px;
    padding: 15px;
    -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.5);
            box-shadow: 0 1px 5px rgba(104, 104, 104, 0.5);
}

.member-card:hover {
    -webkit-box-shadow: 3px 4px 10px 2px rgba(104, 104, 104, 0.3);
            box-shadow: 3px 4px 10px 2px rgba(104, 104, 104, 0.3);
}

.member-card a {
    color: #000;
}

.member-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.member-image {
    min-height: 80px;
    max-width: 80px;
    border-radius: 50%;
}

.member-data {
    padding: 0 1em;
}

.member-name {
    margin: 10px 0 0;
    font-size: 15px;
}

.member-role {
    font-size: 0.89em;
    margin: 8px 0 0;
    color: #7a7979;
}

/* Read Blog & Event posts */
.data-content {
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(52, 52, 52, 0.5);
            box-shadow: 0 1px 3px rgba(52, 52, 52, 0.5);
    margin-left: auto; 
    margin-right: auto; 
    max-width: 45rem; 
    margin-bottom: 1em;
}

.data-image {
    width: 100%;
    /* height: 400px;   */
    border-radius: 2px 2px 0 0;
}

.data-desc {
    padding: 1em;
}

.data-heading {
    color: #111111;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1em;
}

.data-author {
    font-size: 14px;
    font-weight: 300;
    color: #828282;
}

.data-body {
    color: #242424;
    font-size: 18px;
    font-weight: 200;
}

/* Footer */
footer {
    width: 100%;
    color: #fff !important;
    background: rgb(102, 51, 153);
    padding: 1em 0;
}

footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* justify-items: center; */
}

footer .container .footer-box {
    /* min-width: 33.3%; */
    -webkit-box-flex: 1;
        -ms-flex: 1 0 290px;
            flex: 1 0 290px;
	/* flex: 1 0 33.3%; */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 1.5em;
}

footer h1 {
    font-weight: 500;
    font-size: 1.65em;
    line-height: 1em;
    margin: 20px 0 10px;
}

footer p, footer a {
    color: #fff !important;
    font-weight: 500;
    font-size: 0.875em;
}

@media screen and (max-width: 800px) {
    #hero-content p {
        color: #fff;
    }

    .blog-card {
        display: block;
    }

    .blog-post-data {
        padding: 0.5em;
    }

    .blog-post-image {
        width: 100%;
        height: auto;
    }

    .blog-post-title {
        font-size: 24px;
        font-weight: 500;
    }

    .blog-post-desc {
        font-weight: 200;
    }
    
    .modal .modal-dialog {
        width: 560px !important;
    }
}

@media screen and (max-width: 30em) {
    header {
        height: 104px;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    #logo {
        margin: auto;
    }

    ul {
        margin-left: auto;
        margin-right: auto;
    }

    .padding {
        padding-top: 6.5em;
    }
    
    .hero-heading {
        font-size: 1.8em;
    }

    #section-one {
        padding-top: 7em;       
    }

    #hero-content h1 {
        font-size: 1.8em;
    }

    #hero-content p {
        font-weight: 500;
    }
    
    #hero-image {
        width: 100px;
        height: auto;
    }

    .blog-card {
        display: block;
    }

    .blog-post-data {
        padding: 0.5em;
    }

    .blog-post-image {
        width: 100%;
        height: auto;
    }

    .blog-post-title {
        font-size: 24px;
        font-weight: 500;
    }

    .blog-post-desc {
        font-weight: 200;
    }

    .event-image {
        height: auto;
    }    

    .data-content {
        margin-top: 1em;
    }

    .data-image {
        height: auto;
    }

    .center {
        padding: 10em 0 10em 0;
    }
}

@media screen and (max-width: 35em) {
    header {
        height: 104px;
    }

    .modal .modal-dialog {
        width: 320px !important;
    }
}

@media screen and (orientation: landscape) and (max-width: 35em) {
    header {
        height: 104px;
    }
}

.modal:target:before {
    display: none;
}
.modal:before {
    content:"";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-dialog {
    position: fixed;
    width: auto;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    z-index: 102;

    width: 800px;
    border-radius: 5px;
    background-color: #fefefe;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal:target .modal-dialog {
    top: -100%;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
}

.modal-body {
    padding: 0 20px 20px 20px;
}

.modal-header {
    padding: 10px 20px;
    border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
    font-size: 1.65em;
    line-height: 1em;
}

.modal-body {
    font-size: 16px;
    font-weight: 300;
}

.modal-quote {
    background-color: #2058ba;
    color: #fff;
    padding: 1em;
}

.btn-close {
    color: #aaaaaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}